/*Universal variables*/
html {
  --gap-s: 0.625rem;
  --gap: 1.25rem;
  --gap-l: 7rem;

  --color-1: #b5bac9;
  --color-2: #a3a8b7;
  --color-3: #8990a2;
  --color-4: #788199;
  --color-5: #666f88;
}
/*---*/

body {
  background: black;
  font-family: "Mooli", sans-serif;
  color: #fff;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-5 {
  font-size: 5rem;
}

.font-size-6 {
  font-size: 6rem;
}

.bg {
  background: red;
}

.mb {
  margin-bottom: var(--gap);
}

.mb-s {
  margin-bottom: var(--gap-s);
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

li span {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--gap);
}

.box {
  padding: var(--gap);
  border-radius: var(--gap-s);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.container-top {
  display: grid;
  padding: var(--gap);
  gap: var(--gap-l);
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.container-middle {
  display: grid;
  padding: var(--gap);
  gap: var(--gap-l);
  grid-template-columns: 1fr;
  justify-content: center;
}

.bold {
  font-weight: bold;
}
