/*Universal variables*/
html {
  --gap-s: 0.625rem;
  --gap: 1.25rem;
  --gap-l: 7rem;

  --color-1: #b5bac9;
  --color-2: #a3a8b7;
  --color-3: #8990a2;
  --color-4: #788199;
  --color-5: #666f88;

  --color-night: #081640;
  --color-smooth-night: #203b8c;
  --color-light-night: #165ff2;
  --color-blue-sky: #5f8fed;
  --color-light-sun: #f2c166;
  --color-sun: #d98c4a;
}
/*---*/

body {
  background: black;
  font-family: "Amatic SC", cursive;
  color: #fff;
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}
.color-5 {
  color: var(--color-5);
}

.color-night {
  color: var(--color-night);
}

.color-smooth-night {
  color: var(--color-smooth-night);
}

.color-light-night {
  color: var(--color-light-night);
}

.color-light-sun {
  color: var(--color-light-sun);
}

.color-sun {
  color: var(--color-sun);
}

.color-blue-sky {
  color: var(--color-blue-sky);
}

.font-size-1 {
  font-size: 1rem;
  line-height: 1rem;
}

.font-size-2 {
  font-size: 2rem;
  line-height: 2rem;
}

.font-size-3 {
  font-size: 3rem;
  line-height: 3rem;
}

.font-size-4 {
  font-size: 4rem;
  line-height: 4rem;
}

.font-size-5 {
  font-size: 5rem;
  line-height: 5rem;
}

.font-size-6 {
  font-size: 6rem;
  line-height: 6rem;
}
.font-size-7 {
  font-size: 7rem;
  line-height: 7rem;
}
.font-size-8 {
  font-size: 8rem;
  line-height: 8rem;
}
.font-size-9 {
  font-size: 9rem;
  line-height: 9rem;
}
.font-size-10 {
  font-size: 10rem;
  line-height: 10rem;
}

.temperature {
  display: flex;
  flex-direction: column;
  margin-left: var(--gap);
}

.bg {
  background: red;
}

.mb {
  margin-bottom: var(--gap);
}

.mb-s {
  margin-bottom: var(--gap-s);
}

.mt {
  margin-top: var(--gap);
}

.mt-s {
  margin-top: var(--gap-s);
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box {
  padding: var(--gap);
  border-radius: var(--gap-s);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap-l);
  grid-template-columns: 1fr 1fr;
  min-height: 480px; /* Use min-height para acomodar conteúdo variável */
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}
